<div>
  <h1>This is a h1 title!</h1>
  <h2>This is a h2 title!</h2>
  <h3>This is a h3 title!</h3>
  <h4>This is a h4 title!</h4>
  <h5>This is a h5 title!</h5>
  <h6>This is a h5 title!</h6>

  <p>Lorem ipsum odor amet, <a href="#">consectetuer</a> adipiscing elit. Rhoncus nam mi in torquent senectus dictumst
    erat. Iaculis
    potenti tincidunt sapien tincidunt elementum at hac rhoncus gravida. Feugiat nostra quis rutrum curae dis netus.
    Ridiculus taciti interdum euismod luctus purus mollis. Nisl habitasse dignissim hendrerit quis turpis facilisis
    fusce vulputate. Malesuada tellus pulvinar placerat phasellus nostra.</p>

  <p{% if extra_classes %} class="{{ extra_classes }}"{% endif %}>Text with <strong>bold</strong> or <em>emphasis</em> tags.</p>
  {% block extra_markup %}
    {{ extra_markup }}
  {% endblock %}
  <p>Lobortis est est urna aliquet porttitor sagittis est nec vestibulum. Nisi quis orci inceptos proin mollis ex.
    Porttitor hac nulla mi diam quis erat urna leo. Proin facilisis urna ante praesent integer varius nostra est
    fringilla. Neque praesent cras aliquam leo gravida massa dui. Nullam potenti neque amet sapien scelerisque,
    nulla netus leo. Facilisi per pulvinar nec velit interdum rutrum. Donec et et taciti lacus aptent fermentum
    lacinia suscipit. Mus arcu quam ex suscipit mi ac commodo. Elementum mauris morbi suspendisse consequat maecenas
    imperdiet.</p>

  <ul>
    <li>An unordered list item</li>
    <li>An unordered list item</li>
  </ul>
  <ol>
    <li>An ordered list item</li>
    <li>An ordered list item</li>
  </ol>

  <p>Example table:</p>
  <table>
    <thead>
    <tr>
      <th>head1</th>
      <th>head2</th>
      <th>head3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>cell1_1</td>
      <td>cell2_1</td>
      <td>cell3_1</td>
    </tr>
    <tr>
      <td>cell1_2</td>
      <td>cell2_2</td>
      <td>cell3_2</td>
    </tr>
    <tr>
      <td>cell1_3</td>
      <td>cell2_3</td>
      <td>cell3_3</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>foot1</td>
      <td>foot2</td>
      <td>foot3</td>
    </tr>
    </tfoot>
  </table>

</div>

<div>
  <h1>Colours</h1>
  <div class="colours">
    <div class="black">
      <div></div>
      <div><h2>Black</h2></div>
    </div>
    <div class="white">
      <div></div>
      <div><h2>White</h2></div>
    </div>
    <div class="grey-light">
      <div></div>
      <div><h2>Grey light</h2></div>
    </div>
    <div class="grey-dark">
      <div></div>
      <div><h2>Grey dark</h2></div>
    </div>
    <div class="green-light">
      <div></div>
      <div><h2>Green light</h2></div>
    </div>
    <div class="green-mid">
      <div></div>
      <div><h2>Green mid</h2></div>
    </div>
    <div class="green-dark">
      <div></div>
      <div><h2>Green dark</h2></div>
    </div>
  </div>
</div>
